  <style>
  .steps-content {
    width: 100%;
    text-align: center;
    font-size: 22px;
  }

  .bulleyes {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pad_Top {
    padding-top: 2%;
  }

  .pad_Top_List {
    padding-top: 3%;
  }
 </style>

 <div class="steps-content">
  CONTENT LIST
  <div class="bulleyes">
    <mat-list dense>
      <mat-list-item class="pad_Top_List"><b>ctrl+l </b> &nbsp; = "Selectionne l'url" </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="pad_Top_List"><b>ctrl+n </b> &nbsp; = "Ouvre un nouveau Tab et nouveau navigateur" </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="pad_Top_List"><b>ctrl+t </b> &nbsp; = ctrl+t "Ouvre un nouveau Tab même navigateur" </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="pad_Top_List"><b>ctrl+w </b> &nbsp; = "Ferme une fenetre du navigateur" </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="pad_Top_List"><b>ctrl+a </b> &nbsp; = "Selectionne tout" </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="pad_Top_List"><b>ctrl+shift+n </b> &nbsp; = "Navigation priver" </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="pad_Top_List"><b>ctrl+shift+fleche gauche </b> &nbsp; = "Navigation gauche" &nbsp; <b>ou ctrl+tab</b> </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="pad_Top_List"><b>ctrl+shift+fleche droite </b> &nbsp; = "Navigation droite" &nbsp; <b>ou ctrl+shift+tab</b> </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="pad_Top_List"><b>Tab</b> &nbsp; = "Touche pour se déplacer"</mat-list-item>
     </mat-list>
  </div>
</div>

<!-- <mat-list-item> ctrl+c "Copier"</mat-list-item>
      <mat-list-item> ctrl+v "Coller"</mat-list-item> -->
