<style>
  button {
    /* margin-right: 8px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
</style>

<div >
  <h1 mat-dialog-title>Bonjour</h1>

  <mat-dialog-content>
    Veut tu passer a l'étape suivante n'utilise pas la souris?
    Presse ESC pour fermer ce pop up
  </mat-dialog-content>

</div>



<!-- <mat-dialog-actions>
  <button mat-button-raised mat-dialog-close cdkFocusInitial style="margin-left: 5%;" class="buttons">Ok</button>
</mat-dialog-actions> -->

<!-- style="margin-top: 5%;" -->
<!--  -->
