/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
//@import '~bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { margin-top: 70px; font-family: Roboto, "Helvetica Neue", sans-serif; }

.buttons {
  background-color:cadetblue;
  border-radius: 15%;
  box-shadow: 5px 10px #888888 ;
}

.warn {
  background-color:red;
  border-radius: 15%;
  box-shadow: 5px 10px #e38a04 ;
}

.grosseur-bouton {
  width: 10%;
  height: 6%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
